// $Id: sdlfractal.rc 16 2006-08-09 19:11:31Z tb $

// Application Icons
1                       ICON    DISCARDABLE     "sdlfractal.ico"

// Application Version Info
1 VERSIONINFO
 FILEVERSION 0,1,0,0
 PRODUCTVERSION 0,1,0,0
 FILEFLAGSMASK 0x3fL
 FILEFLAGS 0x0L
 FILEOS 0x40004L
 FILETYPE 0x1L
 FILESUBTYPE 0x0L
BEGIN
    BLOCK "StringFileInfo"
    BEGIN
        BLOCK "040904b0"
        BEGIN
            VALUE "Comments", "http://idlebox.net/\0"
            VALUE "CompanyName", "\0"
            VALUE "FileDescription", "SDL Fractal Maker\0"
            VALUE "FileVersion", "0, 1, 0, 0\0"
            VALUE "InternalName", "sdlfractal\0"
            VALUE "LegalCopyright", "Copyright © 2006 Timo Bingmann\0"
            VALUE "LegalTrademarks", "\0"
            VALUE "OriginalFilename", "sdlfractal.exe\0"
            VALUE "PrivateBuild", "\0"
            VALUE "ProductName", "SDL Fractal Maker\0"
            VALUE "ProductVersion", "5, 0, 0, 0\0"
            VALUE "SpecialBuild", "\0"
        END
    END
    BLOCK "VarFileInfo"
    BEGIN
        VALUE "Translation", 0x409, 1200
    END
END
