Options -Indexes

ErrorDocument 401 /401.html
ErrorDocument 403 /403.html
ErrorDocument 404 /404.html
ErrorDocument 500 /500.html

RewriteCond %{HTTP_HOST}  ^www\.panthema\.net$ [NC]
RewriteRule ^(.*)$        http://panthema.net$1 [R=301,L]

RewriteCond %{HTTP_HOST}  panthema\.(com|de)$ [NC]
RewriteRule ^(.*)$	  http://panthema.net$1 [R=301,L]
